[tool.ruff]
line-length = 88
target-version = "py311"

[tool.ruff.lint]
select = [
  "E",
  "F",
  "I",
]

[tool.ruff.lint.per-file-ignores]
"perlin/__init__.py" = ["F401"]

[tool.ruff.lint.isort]
known-first-party = ["perlin", "viz", "ui", "st_components"]
